<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MY SKILLS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">NAME SURNAME</h1>
        <p class="home__subtitle">WEB-DEVELOPER, PYTHON PROGRAMMER</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">ABOUT ME</h2>
        <div class="about__info info-block">
            <div class="info-block__text">
                <p>I am a passionate programmer with experience in multiple technologies, specializing in backend and game development.</p>
                
                <h3>Skills & Expertise:</h3>
                <ul>
                    <li><b>Unity Development</b> – Experience in game development using Unity and C#.</li>
                    <li><b>Python Programming</b> – Skilled in Python for automation, scripting, and bot development.</li>
                    <li><b>SQL & Databases</b> – Strong knowledge of SQL, including database design, queries, and optimization.</li>
                    <li><b>Web Development</b> – Capable of building functional and responsive websites.</li>
                    <li><b>Telegram Bots</b> – Proficient in creating bots using Python for automation and communication.</li>
                </ul>
            
                <p>I am always eager to learn new technologies and improve my skills in software development.</p>
            </div>
    
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="300"
            height="300"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_python" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/telegram.webp"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_telegram" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/scratch.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_scratch" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/unity.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_unity" value="SHOW PROJECT">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/mrc-113/Calculator.git">Открыть на GitHub</a>
          </div>
        {% endif %}

        {% if button_telegram%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/telegram-project.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/mrc-113/RDM-Telebot.git">Открыть на GitHub</a>
          </div>
        {% endif %}

        {% if button_scratch%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/scratch-project.png" alt="project" width="500">
              <a class="project__link" href="https://scratch.mit.edu/projects/849348253/">Открыть в Scratch</a>
          </div>
        {% endif %}

        {% if button_unity%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/unity-project.png" alt="project" width="500">
              <a class="project__link" href="https://mrc-113.itch.io/ancient-ages">Открыть в itch.io</a>
          </div>
        {% endif %}
        
      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>

      <section class="main__form form" id="form">
        <span>Хотите помочь экологии? Заполните форму и мы соберем вам экологичную сборку!</span>
        <a href="{{ url_for('form') }}" class="form-link">Заполнить форму</a>
      </section>
      
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
